[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
spotipy = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pytest = "*"
boto3 = "*"
pre-commit = "*"
pydantic = "*"
apache-airflow = "*"

[dev-packages]

[requires]
python_version = "3.9"
